@charset "UTF-8";
/* CSS Document */

/*Background Page*/
.page{
	color: black;
	background-color:#573D61;
	
}
/*Storyline*/
.storyline{
	color: #B2EDFF;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
/*Picture*/
.picture{
	margin-left: 300px;	 
}

/*button*/
.input{
	height:60px;
	width:100px;
	color: #21DFB2;


}
	
